body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pixel-grid {
  width: 20em;
  height: 10em;
  background-color: grey;
}
.pixel {
  position: relative;
  z-index: 10;
  transform: scale(1);
  box-sizing: border-box;
  float: left;
  width: 2em;
  height: 2em;
  box-shadow: 0px 0px 1px #000;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* prevent "grabbing" a pixel */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pixel:hover {
  z-index: 100;
  transform: scale(1.1);
}

/* Reference: https://vmar76.medium.com/using-css-animations-to-visualize-breathing-techniques-7a20ee0aed5a */
.breathing {
  position: relative;
  z-index: 90;
  animation: breathe 4s linear infinite;
}
@keyframes breathe {
  0% {
    box-shadow: 0 0 0 15px rgba(188, 237, 243, 0.6);
  }
  50% {
    box-shadow: 0 0 0 25px rgba(188, 237, 243, 0.6);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(188, 237, 243, 0.6);
  }
}

.preview {
  display: inline-block;
  width: 5em;
  height: 5em;
  background-color: grey;
  border-radius: 3px;
  box-shadow: 0px 0px 3px #000;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
