body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pixel-grid {
  width: 20em;
  height: 10em;
  background-color: grey;
}
.pixel {
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 2em;
  height: 2em;
  box-shadow: 0px 0px 1px #000;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* prevent "grabbing a pixel */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.preview {
  display: inline-block;
  width: 5em;
  height: 5em;
  background-color: grey;
  border-radius: 3px;
  box-shadow: 0px 0px 3px #000;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
